@model ReviewManagementEditViewModel

@{
ViewData["Title"] = "Review Edit";
}

<h3 id="PageTitle">Review Management - edit review</h3>

<form asp-controller="ReviewManagement" asp-action="Edit" method="post">
    
    <input type="hidden" asp-for="ReviewId"/>
    <div class="form-group">
        <label for="floatingSelect">Rate Pitstop from 1 to 5 stars</label><br/>
        <select asp-for="Rating" class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Open this select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<a asp-action="Index" asp-controller="ReviewManagement" class="btn btn-default">Cancel</a>

