@model Pitstop.WebApp.ViewModels.ReviewManagementViewModel
@{
    ViewData["Title"] = "Review Overview";
}
<h3 id="PageTitle">Review Management - overview</h3>

<table class="table">
    <thead>
    <tr>
        <th>Stars</th>
        <th>Review comment</th>
        <th>Reviewer</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Reviews == null || Model.Reviews.Count() == 0)
    {
        <tr>
            <td colspan="3">No reviews found</td>
        </tr>
    }
    else
    {
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Rating</td>
                <td>@review.Content</td>
                <td>@review.ReviewerName</td>
            </tr>
        }
    }
    </tbody>
</table>
<a id="CreateReviewButton" asp-action="New" asp-controller="ReviewManagement" class="btn btn-default">Create review</a>