@model Pitstop.WebApp.ViewModels.ReviewManagementNewViewModel
@{
    ViewData["Title"] = "New Review";
}


<h3 id="PageTitle">Review Management - new review</h3>

<form asp-controller="ReviewManagement" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="SelectedCustomer">Customer</label>
        <select asp-for="SelectedCustomer" asp-items="Model.Customers" class="form-control"></select>
        <span asp-validation-for="SelectedCustomer" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label for="floatingSelect">Rate Pitstop from 1 to 5 stars</label><br/>
        <select asp-for="Stars" class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Open this select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Stars" class="text-danger"></span>
    </div>
    
    <span><button id="SubmitButton" type="submit" class="btn btn-default">Submit</button></span>
    <span><a id="CancelButton" asp-action="Index" asp-controller="ReviewManagement" class="btn btn-default">Cancel</a></span>
</form>
