@model Pitstop.WebApp.ViewModels.RentalManagementNewViewModel
@{
    ViewData["Title"] = "Rent a Car";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h3 id="PageTitle">Rental Management - rent a car</h3>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="well-sm alert-danger">
        <label>Unable to register: @Model.Error</label>
    </div>
}


<form asp-controller="RentalManagement" asp-action="RegisterCarRental" method="post">
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="date" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="date" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedRentalCarLicenseNumber"></label>
        <select asp-for="SelectedRentalCarLicenseNumber" asp-items="Model.RentalCars" class="form-control"></select>
        <span asp-validation-for="SelectedRentalCarLicenseNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedCustomerId"></label>
        <select asp-for="SelectedCustomerId" asp-items="Model.Customers" class="form-control"></select>
        <span asp-validation-for="SelectedCustomerId" class="text-danger"></span>
    </div>
    <span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
    <span><a id="CancelButton" asp-action="Index" asp-controller="RentalManagement" class="btn btn-default">Cancel</a></span>
</form>


