@model Pitstop.WebApp.ViewModels.RentalManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Rental Management - offline</h3>
<p>Unfortunately the rental management module is offline at the moment. Try again soon.</p>

