@model Pitstop.WebApp.ViewModels.RentalCarManagementViewModel
@{
    ViewData["Title"] = "Rental Car Management";
}
<h3 id="PageTitle">Rental Car Management - overview</h3>


<table class="table">
    <thead>
    <tr>
        <th>License No.</th>
        <th>Brand</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rentalCar in Model.RentalCars)
    {
    <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "RentalCarManagement", new { licenseNumber = rentalCar.LicenseNumber }))'">
        <td>@rentalCar.LicenseNumber</td>
        <td>@rentalCar.Model.Brand.Name</td>
        <td>@rentalCar.Model.Name</td>
    </tr>
    }
    </tbody>
</table>

<a id="RegisterRentalCarButton" asp-action="New" asp-controller="RentalCarManagement" class="btn btn-default">Add rental car</a>
