@model Pitstop.WebApp.ViewModels.RentalCarManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Rental Car Management - offline</h3>
<p>Unfortunately the rental car management module is offline at the moment. Try again soon.</p>

